# School District Data Analysis Report

## Summary:

The analysis focuses on school and student data within a district. Using the pandas library in Python, various calculations and summary statistics were performed to gain insights into the district's educational performance. The key metrics include the total number of schools and students, budget information, average scores in math and reading, and the overall passing rates.

### Key Findings and Conclusions:

##### 1. Performance Metrics: 

* The district comprises a total of 15 schools and 39,170 students. 

* The average math score across all schools is 78.99, while the average reading score is 81.88. 

* The district has an overall passing rate of 65.17% based on students who passed both math and reading.

##### 2. School Comparison:

* Top Performing Schools:
    * These schools exhibit exceptional performance in both math and reading, reflecting a strong educational environment.
    * The top five schools with the highest overall passing rates are:
        * Cabrera High School: Charter
        * Thomas High School: Charter
        * Griffin High School: Charter
        * Wilson High School: Charter	
        * Pena High School: Charter


* Bottom Performing Schools:
    * These schools may require further attention and intervention to improve student outcomes. 
    * Conversely, the bottom five schools with the lowest overall passing rates are:
        * Rodriguez High School: District
        * Figueroa High School: District	
        * Huang High School: District	
        * Hernandez High School: District	
        * Johnson High School: District	


##### 3. Type of School and Performance Relationship:

* A preliminary analysis suggests a potential correlation between the type of school allocated to schools and their overall performance. The Charter School type seems to be expected to have better resources and, consequently, higher passing rates. It is important to note that the Schools as District types have lower passing rates which indicates that type has a major impact on rates.

##### 4. Grade-Level Performance:

* The analysis of math and reading scores by grade level indicates variations in performance across different grades. This insight could guide targeted adjustments to address specific challenges faced by students in certain grade levels. In this case, even though Charter schools perform better, it doesnt seem that they improve formidably throughout the years.

In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Total number of unique schools

* Total students

* Total budget

* Average math score
 
* Average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math and reading (% Overall Passing)

In [2]:
# Calculate the total number of unique schools
school_count = school_data_complete["school_name"].nunique()
print("Total number of unique schools:", school_count)

Total number of unique schools: 15

In [3]:
# Calculate the total number of students
total_students = school_data_complete["Student ID"].count()
print("Total number of students:", total_students)

Total number of students: 39170

In [4]:
# Calculate the total budget
total_budget = school_data.iloc[:, 4].sum()
print("Total budget:", total_budget)

Total budget: 24649428

In [5]:
# Calculate the average math score
average_math_score = school_data_complete["math_score"].mean()

print(f"Average math score: {average_math_score:.2f}")

Average math score: 78.99

In [6]:
# Calculate the average reading score
average_reading_score = school_data_complete["reading_score"].mean()

print(f"Average reading score: {average_reading_score:.2f}")

Average reading score: 81.88

In [7]:
#Calculate the number of students who passed math greather than or equal to 70
passed_math_count = school_data_complete[school_data_complete["math_score"] >= 70]["Student ID"].count()


#Calculate the percentage of students who passed reading
passed_math_percentage = passed_math_count / (total_students) * 100

print(f"Percentage of students who passed math: {passed_math_percentage:.2f}%")

Percentage of students who passed math: 74.98%

In [8]:
#Calculate the number of students who passed math
passed_reading_count = school_data_complete[school_data_complete["reading_score"] >= 70]["Student ID"].count()

#Calculate the percentage of students who passed reading
passed_reading_percentage = passed_reading_count / (total_students) * 100

print(f"Percentage of students who passed reading: {passed_reading_percentage:.2f}%")

Percentage of students who passed reading: 85.81%

In [9]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[(school_data_complete["math_score"] >= 70) & 
                                                  (school_data_complete["reading_score"] >= 70)]["Student ID"].count()

overall_passing_rate = passing_math_reading_count /  (total_students) * 100

print(f"Students that passed math and reading: {overall_passing_rate:.2f}%")

Students that passed math and reading: 65.17%

In [10]:
#Create a high-level snapshot of the district's key metrics in a DataFrame.
district_summary = pd.DataFrame({
    "Total Schools": [school_count],
    "Total Students": [total_students],
    "Total Budget": [total_budget],
    "Average Math Score": [average_math_score],
    "Average Reading Score": [average_reading_score],
    "% Passing Math": [passed_math_percentage],
    "% Passing Reading": [passed_reading_percentage],
    "% Overall Passing Rate": [overall_passing_rate]
})

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary["Average Math Score"] = district_summary["Average Math Score"].map("{:,.2f}".format)
district_summary["Average Reading Score"] = district_summary["Average Reading Score"].map("{:,.2f}".format)
district_summary["% Passing Math"] = district_summary["% Passing Math"].map("{:,.2f}%".format)
district_summary["% Passing Reading"] = district_summary["% Passing Reading"].map("{:,.2f}%".format)
district_summary["% Overall Passing Rate"] = district_summary["% Overall Passing Rate"].map("{:,.2f}%".format)

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98%,85.81%,65.17%

## School Summary

* School name
* School type
* Total students
* Total school budget
* Per student budget
* Average math score
* Average reading score
* % passing math (the percentage of students who passed math)
* % passing reading (the percentage of students who passed reading)
* % overall passing (the percentage of students who passed math AND reading)

In [11]:
#Getting the school names and the types

grouped_school = school_data_complete.groupby(["school_name"])


school_types = school_data.set_index('school_name')['type']

In [12]:
# Calculate the total student count per school
students_per_school = school_data_complete.groupby('school_name')['Student ID'].count()

In [13]:
# Calculate the total school budget and per capita spending per school

index_set = school_data.set_index('school_name')
total_school_budget = index_set['budget']


per_student_budget = total_school_budget / index_set['size']

In [14]:
# Calculate the average test scores per school

school_scores = school_data_complete.iloc[:, [4, 5, 6, 7]]

average_math_score = school_scores.groupby('school_name')['math_score'].mean()
average_reading_score = school_scores.groupby('school_name')['reading_score'].mean()

In [15]:
# Calculate the number of students per school with math scores of 70 or higher
students_passing_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('school_name')['Student ID'].count()

In [16]:
# Calculate the number of students per school with reading scores of 70 or higher
students_passing_reading = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('school_name')['Student ID'].count()

In [17]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

In [18]:
# Use the provided code to calculate the passing rates
per_school_passing_math = students_passing_math / students_per_school * 100

per_school_passing_reading = students_passing_reading / students_per_school * 100

overall_passing_rate = school_students_passing_math_and_reading / students_per_school * 100

In [19]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame({
    "School Type": school_types,
    "Total Students": students_per_school,
    "Per Student Budget": per_student_budget,
    "Total School Budget": total_school_budget,
    "Average Math Score": average_math_score,
    "Average Reading Score": average_reading_score,
    '% Passing Math': per_school_passing_math,
    '% Passing Reading': per_school_passing_reading,
    "% Overall Passing": overall_passing_rate
})
# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)
per_school_summary["Average Math Score"] = per_school_summary["Average Math Score"].map("{:,.2f}".format)
per_school_summary["Average Reading Score"] = per_school_summary["Average Reading Score"].map("{:,.2f}".format)
per_school_summary["% Passing Math"] = per_school_summary["% Passing Math"].map("{:,.2f}%".format)
per_school_summary["% Passing Reading"] = per_school_summary["% Passing Reading"].map("{:,.2f}%".format)
per_school_summary["% Overall Passing"] = per_school_summary["% Overall Passing"].map("{:,.2f}%".format)

# Display the DataFrame
per_school_summary

,School Type,Total Students,Per Student Budget,Total School Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,$628.00,"$3,124,928.00",77.05,81.03,66.68%,81.93%,54.64%
Cabrera High School,Charter,1858,$582.00,"$1,081,356.00",83.06,83.98,94.13%,97.04%,91.33%
Figueroa High School,District,2949,$639.00,"$1,884,411.00",76.71,81.16,65.99%,80.74%,53.20%
Ford High School,District,2739,$644.00,"$1,763,916.00",77.10,80.75,68.31%,79.30%,54.29%
Griffin High School,Charter,1468,$625.00,"$917,500.00",83.35,83.82,93.39%,97.14%,90.60%
Hernandez High School,District,4635,$652.00,"$3,022,020.00",77.29,80.93,66.75%,80.86%,53.53%
Holden High School,Charter,427,$581.00,"$248,087.00",83.80,83.81,92.51%,96.25%,89.23%
Huang High School,District,2917,$655.00,"$1,910,635.00",76.63,81.18,65.68%,81.32%,53.51%
Johnson High School,District,4761,$650.00,"$3,094,650.00",77.07,80.97,66.06%,81.22%,53.54%
Pena High School,Charter,962,$609.00,"$585,858.00",83.84,84.04,94.59%,95.95%,90.54%
Rodriguez High School,District,3999,$637.00,"$2,547,363.00",76.84,80.74,66.37%,80.22%,52.99%
Shelton High School,Charter,1761,$600.00,"$1,056,600.00",83.36,83.73,93.87%,95.85%,89.89%
Thomas High School,Charter,1635,$638.00,"$1,043,130.00",83.42,83.85,93.27%,97.31%,90.95%
Wilson High School,Charter,2283,$578.00,"$1,319,574.00",83.27,83.99,93.87%,96.54%,90.58%
Wright High School,Charter,1800,$583.00,"$1,049,400.00",83.68,83.95,93.33%,96.61%,90.33%

## Highest-Performing Schools (by % Overall Passing)

In [20]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary.sort_values("% Overall Passing",ascending = False)
top_schools.head(5)

,School Type,Total Students,Per Student Budget,Total School Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,1858,$582.00,"$1,081,356.00",83.06,83.98,94.13%,97.04%,91.33%
Thomas High School,Charter,1635,$638.00,"$1,043,130.00",83.42,83.85,93.27%,97.31%,90.95%
Griffin High School,Charter,1468,$625.00,"$917,500.00",83.35,83.82,93.39%,97.14%,90.60%
Wilson High School,Charter,2283,$578.00,"$1,319,574.00",83.27,83.99,93.87%,96.54%,90.58%
Pena High School,Charter,962,$609.00,"$585,858.00",83.84,84.04,94.59%,95.95%,90.54%

## Bottom Performing Schools (By % Overall Passing)

In [21]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = per_school_summary.sort_values("% Overall Passing",ascending = True)
bottom_schools.head(5)

,School Type,Total Students,Per Student Budget,Total School Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,District,3999,$637.00,"$2,547,363.00",76.84,80.74,66.37%,80.22%,52.99%
Figueroa High School,District,2949,$639.00,"$1,884,411.00",76.71,81.16,65.99%,80.74%,53.20%
Huang High School,District,2917,$655.00,"$1,910,635.00",76.63,81.18,65.68%,81.32%,53.51%
Hernandez High School,District,4635,$652.00,"$3,022,020.00",77.29,80.93,66.75%,80.86%,53.53%
Johnson High School,District,4761,$650.00,"$3,094,650.00",77.07,80.97,66.06%,81.22%,53.54%

## Math Scores by Grade

In [22]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")].groupby('school_name')["math_score"].mean()
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")].groupby('school_name')["math_score"].mean()
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")].groupby('school_name')["math_score"].mean()
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")].groupby('school_name')["math_score"].mean()

math_by_grade = pd.DataFrame({
    "9th Grade": ninth_graders,
    "10th Grade": tenth_graders,
    "11th Grade": eleventh_graders,
    "12th Grade": twelfth_graders
})

# Formatting
math_by_grade["9th Grade"] = math_by_grade["9th Grade"].map("{:,.2f}".format)
math_by_grade["10th Grade"] = math_by_grade["10th Grade"].map("{:,.2f}".format)
math_by_grade["11th Grade"] = math_by_grade["11th Grade"].map("{:,.2f}".format)
math_by_grade["12th Grade"] = math_by_grade["12th Grade"].map("{:,.2f}".format)

# Display the DataFrame
math_by_grade

                      9th Grade 10th Grade 11th Grade 12th Grade
school_name
Bailey High School        77.08      77.00      77.52      76.49
Cabrera High School       83.09      83.15      82.77      83.28
Figueroa High School      76.40      76.54      76.88      77.15
Ford High School          77.36      77.67      76.92      76.18
Griffin High School       82.04      84.23      83.84      83.36
Hernandez High School     77.44      77.34      77.14      77.19
Holden High School        83.79      83.43      85.00      82.86
Huang High School         77.03      75.91      76.45      77.23
Johnson High School       77.19      76.69      77.49      76.86
Pena High School          83.63      83.37      84.33      84.12
Rodriguez High School     76.86      76.61      76.40      77.69
Shelton High School       83.42      82.92      83.38      83.78
Thomas High School        83.59      83.09      83.50      83.50
Wilson High School        83.09      83.72      83.20      83.04
Wright High School        83.26      84.01      83.84      83.64

## Reading Score by Grade

In [23]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")].groupby('school_name')["reading_score"].mean()
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")].groupby('school_name')["reading_score"].mean()
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")].groupby('school_name')["reading_score"].mean()
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")].groupby('school_name')["reading_score"].mean()

reading_by_grade = pd.DataFrame({
    "9th Grade": ninth_graders,
    "10th Grade": tenth_graders,
    "11th Grade": eleventh_graders,
    "12th Grade": twelfth_graders
})

# Formatting
reading_by_grade["9th Grade"] = reading_by_grade["9th Grade"].map("{:,.2f}".format)
reading_by_grade["10th Grade"] = reading_by_grade["10th Grade"].map("{:,.2f}".format)
reading_by_grade["11th Grade"] = reading_by_grade["11th Grade"].map("{:,.2f}".format)
reading_by_grade["12th Grade"] = reading_by_grade["12th Grade"].map("{:,.2f}".format)


# Display the DataFrame
reading_by_grade

                      9th Grade 10th Grade 11th Grade 12th Grade
school_name
Bailey High School        81.30      80.91      80.95      80.91
Cabrera High School       83.68      84.25      83.79      84.29
Figueroa High School      81.20      81.41      80.64      81.38
Ford High School          80.63      81.26      80.40      80.66
Griffin High School       83.37      83.71      84.29      84.01
Hernandez High School     80.87      80.66      81.40      80.86
Holden High School        83.68      83.32      83.82      84.70
Huang High School         81.29      81.51      81.42      80.31
Johnson High School       81.26      80.77      80.62      81.23
Pena High School          83.81      83.61      84.34      84.59
Rodriguez High School     80.99      80.63      80.86      80.38
Shelton High School       84.12      83.44      84.37      82.78
Thomas High School        83.73      84.25      83.59      83.83
Wilson High School        83.94      84.02      83.76      84.32
Wright High School        83.83      83.81      84.16      84.07